.textEditor {
  min-width: 100%;
}

.editor {
  position: relative;
}

.editorType {
  position: absolute;
  bottom: 0;
  height: 18px;
  padding: 0 8px;
  color: #adaaaa;
  font-size: 12px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}