/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.tabsRoot {
  & :global(.g-tabs) {
    & :global(.g-grid-container),
    & > :global(.g-grid-container) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
