.cellOptionContainer {
  background-color: rgb(198, 198, 198);
  border: 1px solid black;
  min-height: 23px;
  display: flex;
  align-items: center;
}

.cellOptions button {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 4px;
  border: none;
  font-size: 12px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.cellOptionsText {
  padding: 0 8px;
  margin: 0;
  font-size: 12px;
}

.checkboxCell {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(198, 198, 198);
}

.cellOption {
  font-size: 12px;
}

.cell {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.checkboxInput {
  width: 24px;
  height: 24px;
}